/*
==============================================
CSS For activities intro section
==============================================
*/

#activities-intro {
    width: 80%;
    height: 500px;
}

.intro-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.intro-content {
    width: 60%;
}

.know-about-text {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.line {
    width: 70px;
    height: 2px;
    background: #000;
}

.activities-header {
    margin-left: 90px;
    font-size: 56px;
    font-weight: bold;
    text-align: left;
}

.intro-text {
    margin-left: 90px;
    margin-top: 30px;
    color: #1D2130;
    text-align: justify;
    font-size: 16px;
    line-height: 25.6px;
    width: 80%;
}

.intro-image {
    height: auto;
    width: 420px;
}

/*
==============================================
CSS For activities intro2 section
==============================================
*/

#activities-intro2 {
    background-color: #EFF7F2;
    /* background-color: red; */
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
}

.intro2-container {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.intro2-header {
    font-size: 48px;
    font-weight: bold;
    padding-left: 50px;
}

.group-holder {
    width: 100%;
    /* height: 100%; */
    display: grid;
    grid-template-columns: auto auto;
}

.card-group {
    padding-top: 50px;
    padding-left: 50px;
    gap: 24px;
    display: flex;
    align-items: flex-start;
}

.card-icon img {
    height: 28px;
    width: 28px;
}

.card-text-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.card-text-info {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #525560;
}

/* 
    Upcoming Events
*/

#our-events {
    height: 350px;
    width: 80%;
}

.our-events-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event-text-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.big-line {
    width: 80%;
    height: 1px;
    background: #E5E5E5;
    /* margin: 0px 10px; */
}

.event-card {
    height: 190px;
    width: 50%;
    background-color: #BEF3C0;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.event-card span {
    font-size: 48px;
    margin: 0px;
    padding: 0px;
}

.event-card span h1 {
    font-size: 16px;
}

.event-card img {
    height: 56px;
    width: 56px;
}

.event-card-text h2 {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 16px;
    font-weight: 400;
}

.event-card-text span {
    font-size: 40px;
}

/*
    Events list
*/

#activities-events {
    width: 80%;
}

.event-heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
}

.events-list {
    display: grid;
    grid-template-columns: auto;
}

.content {
    margin-top: 60px;
}

.event-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
}

.event-image {
    width: 100%;
    height: auto;
}

.content h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
}

.content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.content ul li {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 20px;
}


/*
==============================================
CSS for activities section
==============================================
*/

.home-activities {
    height: 650px;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.home-activities h2 {
    font-size: 16px;
    letter-spacing: 2px;
}

.home-activities h1 {
    font-size: 48px;
}

.activities-image-wrapper {
    position: relative;
    width: 400px;
    height: 450px;
    border-radius: 12px;
    overflow: hidden;
}

.activities-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activities-image-text-part {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: left;
    padding: 43px 30px 30px 50px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activities-image-text-part h2 {
    font-size: 28px;
    margin-bottom: 25px;
}

.activities-image-text-part p {
    font-size: 16px;
    line-height: 160%;
}

.activities-image-text-part button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: black;
    background-color: #f9f9f9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2.5rem;
}

.activities-image-text-part button:hover {
    background-color: #c6c8ca;
}

.activitites-image-group {
    display: flex;
    gap: 20px;
}


#work-with-us {
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.work-with-container {
    height: 100%;
    width: 60%;
}

.work-intro h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
}

.work-intro p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #525560;
}