/*
==============================================
CSS For our team section
==============================================
*/

#our-team {
    height: 1500px;
    width: 80%;
    margin: 80px 0px;
}

.our-team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.team-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.team-text-content h1 {
    font-size: 48px;
    line-height: 57px;
    font-weight: 700;
}


.team-text-content p {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #525560;
}

.team-card-content {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
}

.card {
    height: 450px;
    width: 320px;
}



.card-pic {
    max-width: 310px;
    max-height: 310px;
    height: 300px;
    width: 100%;
    transition: transform 0.3s ease;
}

.card-pic:hover {
    transform: scale(1.1);
}

.card-text-content {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.card-text-content h2 {
    font-size: 20px;
    font-weight: 400;
}

.card-text-content h3 {
    font-size: 14px;
    font-weight: 300;
    color: #1D2130;
}

.card-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-icons img {
    height: 20px;
    width: 20px;
}


/*
==============================================
CSS For search-members section
==============================================
*/

#search-members {
    height: 400px;
    width: 80%;
    margin: 80px 0px;
}

.search-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

.member-holder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.member-card h2{
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}

.member-card h4{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

.search {
    height: 80px;
    width: 80%;
    font-size: 20px;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 20px;
}



/*
==============================================
CSS For members list section
==============================================
*/


#members-list {
    height: 800px;
    width: 80%;
}


.list-container{
    height: 100%;
    width: 100%;
}

.header {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

.grid-list{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    row-gap: 30px;
    column-gap: 10px;
}

.grid-list h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: #525560;
    /* border: 2px solid black; */
}