#media-row {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.media-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-header {
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
    text-align: center;
    margin-bottom: 20px;
}

.image-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
    padding: 0 10px;
}

.row-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .row-header {
        font-size: 36px;
        line-height: 44px;
    }

    .image-card {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 5px;
    }
}

@media (max-width: 480px) {
    .row-header {
        font-size: 28px;
        line-height: 36px;
    }

    .image-card {
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
}
