#member-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 0;
}

.member-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.membership-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.member-header {
    font-size: 56px;
    font-weight: 700;
    color: #1D2130;
    margin-bottom: 20px;
}

.member-text-info {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #525560;
    width: 80%;
    margin: 20px 0; 
}

.member-btn {
    height: 50px;
    background-color: #70C174;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    padding: 0 20px; 
    margin: 10px; 
    cursor: pointer;
}

.member-btn:hover {
    background-color: #00c90a;
    color: #fff;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .member-container {
        width: 90%;
    }

    .member-text-info {
        width: 90%;
    }

    .member-btn {
        width: 40%;
        padding: 15px; 
    }
}

@media (max-width: 768px) {
    .member-header {
        font-size: 40px;
    }

    .member-text-info {
        font-size: 14px;
        width: 90%;
    }

    .member-btn {
        width: 50%;
        padding: 15px; 
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .member-header {
        font-size: 28px;
    }

    .member-text-info {
        font-size: 12px;
        width: 100%;
    }

    .member-btn {
        width: 80%;
        padding: 10px;
        font-size: 12px;
    }
}
