
.popup {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100lvw;
    height: 100lvh;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    /* background-color: rgba(137, 34, 34, 0.6); */
}

.popup-content {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: auto;
    max-width: 500px;
    text-align: center;
    top: 55%;
    transform: translateY(-50%);
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.popup-image {
    width: 90%;
    height: auto;
}

.register-btn {
    height: 50px;
    width: 250px;
    background-color: #70C174;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    /* width: auto; */
    padding: 20px;
}

.register-btn:hover {
    background-color: #00c90a;
    color: #fff;
}
