

/* 
==============================================
CSS For Navbar
==============================================
*/

/* .navbar {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 100px;
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  width: 50px;
}

.nav-items ul li {
  list-style-type: none;
  display: inline;
  margin: 0px 15px;
}

.nav-items ul li a {
  text-decoration: none;
  color: inherit;
}

.nav-items ul li:last-child {
  margin-right: 30px;
  background-color: #000;
  color: #fff;
  padding: 0.7rem;
  border-radius: 4px;
}

.nav-items ul li a.active {
  font-weight: bold;
} */


/*
==============================================
CSS For home-banner
==============================================
*/


#home-banner {
  background-image: url(../assets/home-banner.png);
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner-elements {
  width: 80%;
  height: 290px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.banner-text {
  color: black;
  font-weight: 500;
  font-size: 54px;
  color: #fff;
}

.banner-btn {
  height: 50px;
  width: 150px;
  border-radius: 4px;
  border: none;
}

/*
==============================================
CSS For coference section
==============================================
*/

#home-conference {
  width: 80%;
}

.conference {
  background-color: #000;
  width: 1280px;
  height: 576px;
  border-radius: 12px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.conference-text-image-wrapper {
  display: flex;
  margin: 0 3rem 0 7rem;
  align-items: center;
}

.conference-text-part {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.only-text-group {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.only-text-group h2 {
  font-size: 16px;
  font-weight: 500;
}

.only-text-group h1 {
  font-size: 45px;
  font-weight: 500;
}

.only-text-group p {
  font-size: 16px;
  color: rgb(218, 218, 218);
  line-height: 2;
}

.quantity-text-group {
  display: flex;
  gap: 1.4rem;
}

.quantity-text {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.quantity-text h2 {
  font-size: 12px;
  color: rgb(218, 218, 218);
  font-weight: 400;
}

/*
==============================================
CSS For know about us section
==============================================
*/

#home-know-about {
  width: 80%;
  height: 580px;
  margin: 80px 0px;
  /* padding: 0px 100px; */
}

.know-about-container {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.know-about-content {
  /* background-color: aqua; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  justify-content: center;
  gap: 20px;
}

.know-about-text {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}

.line {
  width: 70px;
  height: 2px;
  background: #000;
}

.know-about-header {
  font-size: 48px;
  font-weight: bold;
}

.know-about-info {
  text-align: left;
  margin-right: 100px;
  color: #525560;
}

.know-about-btn {
  height: 50px;
  width: 150px;
  background-color: #70C174;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  border: none;
}

.know-about-img {
  width: 480px;
  height: 580px;
}

/*
==============================================
CSS for activities section
==============================================
*/

.home-activities {
  height: 617px;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.home-activities h2 {
  font-size: 16px;
  letter-spacing: 2px;
}

.home-activities h1 {
  font-size: 48px;
}

.activities-image-wrapper {
  position: relative;
  width: 348px;
  height: 343px;
  border-radius: 12px;
  overflow: hidden;
}

.activities-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.activities-image-text-part {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: left;
  padding: 43px 30px 30px 50px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
}

.activities-image-text-part h2 {
  font-size: 28px;
  margin-bottom: 25px;
}

.activities-image-text-part p {
  font-size: 16px;
  line-height: 160%;
}

.activities-image-text-part button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: black;
  background-color: #f9f9f9; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2.5rem;
}

.activities-image-text-part button:hover {
  background-color: #c6c8ca;
}

.activitites-image-group {
  display: flex;
  gap: 20px;
}

/*
==============================================
CSS For our team section
==============================================
*/

#our-team {
  height: 600px;
  width: 80%;
  /* background-color: red; */
}

.our-team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.team-text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.team-text-content p {
  color: #525560;
}

.team-card-content {
  display: flex;
  /* justify-content: space-between; */
  gap: 50px;
}

.card1,
.card2,
.card3 {
  height: 450px;
  width: 320px;
  /* background-color: aqua; */
}

.card-pic {
  max-width: 320px;
  max-height: 320px;
  height: 310px;
  width: 100%;
}

.card-text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


.card-text-content h2 {
  font-size: 20px;
  font-weight: 400;
}

.card-text-content h3 {
  font-size: 14px;
  font-weight: 300;
  color: #1D2130;
}

.card-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card-icons img {
  height: 20px;
  width: 20px;
}

/*
==============================================
CSS For our events section
==============================================
*/

#our-events {
  height: 700px;
  width: 80%;
  /* background-color: red; */
}

.our-events-container {
  height: 100%;
  width: 100%;
}


.event-text-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.big-line {
  width: 80%;
  height: 1px;
  background: #E5E5E5;
  /* margin: 0px 10px; */
}

.event-card {
  height: 190px;
  width: 50%;
  background-color: #BEF3C0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.event-card span {
  font-size: 48px;
  margin: 0px;
  padding: 0px;
}

.event-card span h1 {
  font-size: 16px;
}

.event-card img {
  height: 56px;
  width: 56px;
}

.event-card-text h2 {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 16px;
  font-weight: 400;
}

.event-card-text span {
  font-size: 40px;
}

/* .mission-card {
  background-image: url(../assets/events-banner.png);
  height: 384px;
  width: 100%;
  background-size: cover;
  border-radius: 4px;
} */

.mission-card {
  position: relative;
  background-image: url(../assets/events-banner.png);
  height: 384px;
  width: 100%;
  background-size: cover;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.mission-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.mission-card-content {
  position: relative;
  z-index: 1;
}

.mission-card-content p {
  font-size: 48px;
  font-weight: bold;
}


.mission-card button {
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  color: #000;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.mission-card button:hover {
  background-color: #b4b4b4;
}

/*
==============================================
CSS For footer section
==============================================
*/

/* #footer {
  height: 400px;
  width: 100%;
  background-color: #000;
  color: #fff;
}

.footer-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-content {
  height: 60%;
  width: 60%;
  display: flex;
  justify-content: space-between;
}


.footer-content img {
  height: 70px;
  width: 70px;
}

.footer-content ul li {
  list-style-type: none;
  color: #bdbdbd;
  margin: 20px 0px;
}

.footer-content ul li:first-child {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.footer-icons img {
  height: 30px;
  width: 30px;
  margin-right: 15px;
} */
